.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: var(--px-low);
  align-self: center;
  justify-self: center;
  max-width: 100%;
  @media (max-width: $max-movil) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $max-movil) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: $max-movil-plus) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media (min-width: $max-tablet) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media (min-width: $min-laptop) {
    grid-template-columns: repeat(8, 1fr);
  }
  @media (min-width: $min-desktop) {
    grid-template-columns: repeat(14, 1fr);
  }
  .ro {
    &-1 {
      grid-row: 1 / span 1;
    }
    &-2 {
      grid-row: 1 / span 2;
    }
    &-3 {
      grid-row: 1 / span 3;
    }
    &-4 {
      grid-row: 1 / span 4;
    }
    &-5 {
      grid-row: 1 / span 5;
    }
    &-6 {
      grid-row: 1 / span 6;
    }
    &-7 {
      grid-row: 1 / span 7;
    }
    &-8 {
      grid-row: 1 / span 8;
    }
  }
  .co {
    &-1 {
      grid-column: 1 / span 2;
    }
    &-2 {
      grid-column: 1 / span 4;
    }
    &-3 {
      grid-column: 1 / span 6;
    }
    &-4 {
      grid-column: 1 / span 8;
    }
    &-5 {
      grid-column: 1 / span 10;
    }
    &-6 {
      grid-column: 1 / span 12;
    }
    &-7 {
      grid-column: 1 / span 14;
    }
    &-8 {
      grid-column: 1 / span 16;
    }
  }
}
