.header {
  @include container();
  box-shadow: 0 0 var(--px-low) var(--c-font_2);
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--c-back);
  &__nav {
    @include flex_b();
    height: var(--px-big);
  }
  &__logo {
    height: 100%;
  }
  &__list {
    @include flex_e();
    margin: 0 auto 0 0;
    padding: 0 0 0 var(--px-mid);
  }
  &__list-element {
    padding: 0 var(--px-low);
  }
  .router-link-active {
    color: var(--c-font_2);
  }
}
